# Ignore VSCode workspace settings directory globally
**/.vscode/

# Ignore all node_modules directories recursively
**/node_modules/

# Ignore Mac OS DS_Store files everywhere
**/.DS_Store
releases/hyperbricks-0.0.2.vsix
/releases
